{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles %}{% endblock %}
    <title>{% block title%}{% endblock %}</title>
    
</head>
<body>
    <nav>
        {% include './layouts/menu_base.html' %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main> 

    <footer>
        <!--AQUI IRA EL FOOTER DE PROPAGANDA A MI UWU-->
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>