{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static './css/style_navBar.css' %}">
{% endblock %}
<!--Realizar el logo de acuerdo al portafolio osea mi nombre
con solo David Cortes-->
<div>
    <div class="menu">
        <ul class="menu-ul">
            <li class="logo"><a href=""><img src="" alt=""></a></li>
            <li class="menu-li"><a href="">Vuelos</a></li>
            <li class="menu-li"><a href="">Alojamiento</a></li>
            <li class="menu-li"><a href="">Alquileres</a></li>
            <li class="menu-li"><a href="">Atracciones Turisticas</a></li>
        </ul>
    </div> 
    <div class="session">
        <button class="signIn"><a href="">Registrarme</a></button><br>
        <button class="logIn"><a href="">Iniciar Sesion</a></button>
    </div> 
</div>




